@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
/* styles.css */

/* styles.css */

body {
  width: 1440px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  background-color: rgba(17, 17, 17, 1);
}

.bg-light{
  background-color: rgba(17, 17, 17, 1);
  width: 100%;
}

.navbar {
  margin: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 36px;
  font-weight: bold;
  color: rgb(230, 83, 60);
}

nav ul {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2%;
}


nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}

ul .active{
  width: 92px;
  height: 38px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
}

.menu-logo {
  display: none;
  height: 100%;
}

.banner{
  margin: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  width: 45%;
}

.content{
  display: flex;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%; 
}

.italic {
  font-family: 'Miama', sans-serif;
  font-weight: 400;   
  font-style: italic;
}

.para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

.btn{
  margin-top: 4%;
  display: flex;
  align-items: flex-start;
  gap: 2%;
}


  
.join-btn {
  background-color: #ff4500;
  color: #ffffff;
  padding: 3% 3%;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
}

.download-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 3% 3%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
}

.video-tutorial, .workout-videos {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4% 5%;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.video-tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  top: 60%;
  left: -5%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}

.workout-videos {
  top: 20%;
  right: -10%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}

.ball {
  width:40px;
  height: 40px;
  border: 2px solid red;
  background: red;
  border-radius: 50%;
}
.number {
  font-size: 40px;
  color: rgb(255, 255, 255);
}
.pera{
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
}



.changing-habit {
  text-align: center;
  margin: 0 auto;
  
}

.heading-habits {
  align-items: center;
  margin-bottom: 54px;
 
}

.name-habit {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
  font-weight: 900;

}

.habit-para {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.habit-img {
  margin-top: 58px;
  display: flex;
}


.img-pera img {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #fff;
}

.img-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.img-descript {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}



.run{
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}

.description{
  width: 443px;
  height: 290px;
  margin: 41px 165px 40px 54px;
}

.run-img{
  width: 50%;
  height: 312px;
  margin: 30px 32px 29px;
  border-radius: 18px;
  background: url(4);
}

.runimage{
  height: 100%;
  width: 100%;
}

.run-heading{
  width: 100%;
  height: 116px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-top: 0px;
}

.run-para{
  width: 100%;
  height: 72px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px;
}

.run-btn{
  width: 50%;
  height: 54px;
}


.bmi-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 88px;
}

.bmi-cal{
  margin: 5% auto;
}

.bmi{
  width: 52%;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 2%;
}

.bmi-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(34, 34, 34);
}


.bmi-calculator{
  width: 50%;
}



.bmi-descript{
  width: 100%;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}





.bmi-chart-head{
    width: 100%;
    height: 34px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-top: 0px;
}

.bmi-chart table {
  width: 310px;
  height: 216px;
  border-collapse: collapse;
  margin-top: 52px;
  margin-left: 2px;
}

.bmi-chart th{
  text-align: left;
  padding: 10px;
  border: 1px solid #444;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.bmi-chart td{
  text-align: left;
  padding: 10px;
  border: 1px solid #444;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}



.bmi-calculator h2{
  width: 100%;
  height: 34px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  margin-top: 0px;
}
.bmi-calculator p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  font-weight: 400;
}

.bmi-calculator form {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.select-activity{
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
}

.bmi-input, .bmi-sex {
  width: calc(50% - 12px);
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
}

.bmi-calculator button {
  width: 224px;
  padding: 16px 40px 16px 40px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  margin-top: 34px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}





.team-section {
  text-align: center;
  margin: 88px 190px;
}

.team-header{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.heading{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin: 1% auto;
}

 .team-description {
  margin: 2% auto 4%;
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
} 

.team-member {
  position: relative;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2),url(image);
}

.team-member img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 70%;
}

.team-para {
  position: absolute;
  bottom: 8%;
  left: 5%;
  text-align: left;
}
.team-member h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.team-member p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}


footer {
  background: rgba(255, 255, 255, 0.1);
}

.footer-section {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-top: 88px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 5% auto;
}

.footer-logo{
  width: 40%;
  margin-top: 0px;
  margin-bottom: 73px;
}

.footer-logo h1{
  color: rgb(230, 83, 60);
  font-size: 70px;
  font-weight: 800;
  margin: 0px;
}

.footer-logo p {
  width: 100%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  letter-spacing: 0.3px;
}


.footer-links h2 {
  width: 100%;
  height: 38px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.footer-links ul {
  list-style: none;
  margin-top: 39px;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 20px;
}

.footer-links ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}



.footer-bottom {
  text-align: center;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 80%;
}
.footer-bottom p {
  font-size: 20px;
  font-weight: 400px;
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.5);
}